In [4]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline

In [5]:
df=pd.read_csv('Model.csv',index_col=[0])
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,high,low,...,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0.38,0.53,2,157,3,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,0.80,0.86,5,262,6,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.11,0.88,7,272,4,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0.72,0.87,5,223,5,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,0.37,0.52,2,159,3,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [15]:
X=df.drop("left",axis=1)
y=df["left"]

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [17]:
from xgboost.sklearn import XGBClassifier
from sklearn.model_selection import GridSearchCV

In [18]:
xgb = XGBClassifier()

In [22]:
param_grid = {
    "xgb__n_estimators": [500,1000],
    "xgb__learning_rate": [0.1,0.2,0.3],
    "xgb__eta":[0.1,0.2,0.3],
    "xgb__max_depth": [1,2,4],
    "xgb__objective":['binary:logistic']
    'xgb__min_child_weight': [4],
    'xgb__subsample': [0.7],
    'xgb__reg_lambda':[0.33,0.55,0.88]
}

In [23]:
search = GridSearchCV(xgb, param_grid=param_grid, cv = 5, scoring='accuracy',n_jobs=-1)

In [24]:
search.fit(X_train,y_train)
print(search.best_params_)

[02:38:09] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "xgb__eta", "xgb__learning_rate", "xgb__max_depth", "xgb__min_child_weight", "xgb__n_estimators", "xgb__objective", "xgb__reg_lambda", "xgb__subsample" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


{'xgb__eta': 0.1, 'xgb__learning_rate': 0.1, 'xgb__max_depth': 1, 'xgb__min_child_weight': 4, 'xgb__n_estimators': 300, 'xgb__objective': 'reg:squarederror', 'xgb__reg_lambda': 0.33, 'xgb__subsample': 0.7}

In [25]:
#Best validation score
search.best_score_

0.9858323954425454

In [26]:
search.score(X_test,y_test)

0.9896666666666667